.search-bar{

padding: 41px;
text-align: center;
input {
    height: 42px;
    width: 618px;
    border: hidden;
    border-bottom: 2px solid #000091;
    background-color: #EEEEEE;
    font-family: 'Marianne-Regular';
}
button{
    width: 174px;
    height: 48px;
    border: hidden;
    color: #fff;
    background-color: #000091;
    font-weight: 500;
    font-family: 'Marianne-Bold';
}
}